/* .upper{
  position: absolute;
  width: 104.24px;
  height: 26.07px;
  left: 41.77px;
  top: 9.93px;

  border: 1px solid #F2F2F2;
  transform: rotate(-0.51deg);
} */

/* .new{
  position: absolute;
  width: 1494px;
  height: 112px;
  left: -15px;
  top: -4px;

  background: #333333;
  background-blend-mode: darken;
}
body
{
  background-color: grey;
} */
/* .home{
  position: absolute;
  width: 144px;
  height: 29px;
  left: 799px;
  top: 36px;

}
 .we{
  position: absolute;
  width: 28px;
  height: 29px;
  left: 970.01px;
  top: 36px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;

  color: #F2F2F2;
}
.proj{
  position: absolute;
  width: 121px;
  height: 29px;
  left: 1063px;
  top: 36px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;

  color: #F2F2F2;
} */
