
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block styles %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% endblock %}
</head>
<body>
    <style media="screen">
      ul a:hover{
        text-decoration: none;
        color:orangered;
      }
      ul a {
        margin-left:30px;
        margin-right:30px;
        margin-top:23px;
        padding: 3px;
        padding-bottom: 3px;
        border-right:0px;
        border-left:0px;
        border-top:0px;

        /* background-color:#333333; */
      }
      div .new{
        background-color: #333333;
        height:100px;

      }
    </style>


<div class="new" id="navbar" style="background-color: #333333; height:100px;  ">

  <ul>
    <!-- <a href="#" class="data" style="padding:35px;">Data-X</a> -->
    <img src="{% static 'image/Logo.png'%}" alt="logo" height="350px" width="320px">
    <!-- border-bottom :1px solid; -->
    <a href="#" type = submit style="float:right; ">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 24 24" fill="none" stroke="#F1A91F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line>
      </svg>

    <input type = "text" name = "search" style="background-color: #333333; border-bottom:1px solid #F1A91F; color:#F1A91F; border-top:0px; border-right:0px; border-left:0px;"/>
  </a>

    {% if user.is_authenticated %}
    <a href="{% url 'logout'%}"  class="proj"  style="float:right;  border-bottom :1px solid #F1A91F;  color:#F1A91F;">logout</a>
    <a href="{% url 'projection'%}"  class="proj"  style="float:right;  border-bottom :1px solid #F1A91F;  color:#F1A91F;">Projections</a>
    <a href="{% url 'documentation' %}" class="home"  style="float:right;  border-bottom :1px solid #F1A91F;  color:#F1A91F;">Documentation</a>
    {% endif %}
    <a href="{% url 'more_about' %}" class="we"  style="float:right;  border-bottom :1px solid #F1A91F;  color:#F1A91F;">Us</a>
    <a href="{% url 'stories'%}"  class="proj"  style="float:right;  border-bottom :1px solid #F1A91F;  color:#F1A91F;">Stories</a>
    <a href="{% url 'landing' %}" class="home"  style="float:right;  border-bottom :1px solid #F1A91F;  color:#F1A91F;">Home</a>


  </ul>

</div>

</html>
