{% extends 'registration/base.html' %}
{% block content %}


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <form method="post">
    {% csrf_token %}

    {% for field in form %}

    <br> {{ field }} {% for error in field.errors %}
    <p class="alert alert-danger">{{ error }}</p>
    {% endfor %} {% endfor %}
    <br>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{next}}" />

  </form>
  </div>
  <div class="well">Dont't have an account?
    <a href="{% url 'signup' %}" class="btn btn-primary btn-sm">Sign up</a>
  </div>
</body>

</html>
{% endblock %}
