{% extends 'registration/base.html' %}
{% block content %}
{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body style="background-image:url({% static '/image/wallpp.jpg'%}); backgroud-size:cover;"></body>
<div class= 'container' style = 'margin-top:100px;'>
  <div class = 'row justify-content-center'>
    <div class = 'col-md-4'></div>
    <div class="col-md-3" style='background-color:#C4C4C4; opacity:0.8;'>
            {% if form.errors %}
                <p> Password or Username is incorrect </p>
            {% endif %}
        </div>
    <div class = 'col-md-5'></div>
  </div>
  <div class ='row justify-content-center'>
    <div class= 'col-md-4'></div>
        <div class="col-md-3" style= 'padding-right:20px;background-color:#C4C4C4; opacity:0.8;'>
            <div class="card" style=" border-radius: 10% margin-right:0px;">
                <div class="card-body">
                    <h3 class="card-title text-center" style="font-family: 'Pacifico', cursive;">DATA-X</h3><br>
                    <form  method="post">
                        {% csrf_token %} {% bootstrap_form form layout='inline'%}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Login">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <p>Dont have an account? <a href="{% url 'signup'%}">Sign up</a></p>
                </div>
            </div>
        </div>
      <div class='col-md-5'></div>
    </div>
  </div>
</body>

</html>
{% endblock %}
